#quiz-view.col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-sm-12.col-xs-12{ 'data-mode': (@mode if @mode.present?), 'data-content-id': @content.present? ? @content.id : @quiz.present? ? @quiz.content.id : '', 'data-quiz-id': (@quiz.present? ? @quiz.id : @content_id) }

  %h2
    = @title ? @title : ''

  = render "question", { quiz: @quiz, questions: @questions, index: @index, modulee: @modulee, bookmarks: @bookmarks }

  .row.text-center
    .col
      -if @back_navigation
        = link_to "<span class='btn-label btn-label-left'><i class='fa fa-arrow-left'></i></span>PREV".html_safe, "#", class: 'btn btn-labeled btn-primary btn-md btn-sm prev-question d-none','data-turbolinks': false
    .col
      = link_to "NEXT<span class='btn-label btn-label-right'><i class='fa fa-arrow-right'></i></span>".html_safe, "#", class: 'btn btn-labeled btn-primary btn-md btn-sm next-question','data-turbolinks': false
