<p>Hello <%= @user.email %>!</p>

<p>Someone has requested a link to change your password. Find password reset token below.</p>

<h4><%= @token %></h4>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you verify this token in mobile app and create a new password.</p>
