// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
}

/* Container */
.container-fluid {
  padding: 0 25px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


/* forms */

.field_with_errors {
  background-color: transparent !important;
  padding: 0 !important;
  display: block !important;
}

.field_with_errors > input, .field_with_errors > select {
  border-color: red;
}