// Place all the styles related to the manage::product_assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.assets-listing .actions {
  position: absolute;
  right: 5px;
  top: 5px;
}

.assets-listing span.actions {
  display: none !important;
}

.card:hover span.actions {
  display: block !important;
}